body{
	background-image: linear-gradient(yellowgreen,blueviolet,lawngreen,darkred);
	background-position: center;
}
.glass{
padding: 10px;

margin: 40px;
top: 1%;
left: 550px;
position: absolute;
background: rgba( 255, 255, 25, 0.1);
box-shadow: 50px 10px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h1{
	margin: 0;
	padding: 0 0 20px;
}

.glass input[type="text"],[type="Password"],[type="email"],[type="number/text"]{
	border: 5%;
	outline: none;
	background: rgba(130, 100, 50, 0.2);

}

.glass input[type="button"]
{
	border: none;
	outline: none;
	padding: 5px;
	background: linear-gradient(blueviolet,purple);
	border-radius: 10px;
	
}
.glass input[type="button"]:hover
{
	cursor: pointer;
	color: lightgoldenrodyellow;
}